*, *:before, *:after {
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    -o-box-sizing: content-box;
    -ms-box-sizing: content-box;
    box-sizing: content-box
}

body {
    font-size: 18.5pt;
    font-family: sans-serif;
    background-color: #e3e9dc;
    font-family: 'Ubuntu Condensed', sans-serif;
    letter-spacing: -1px;
}
